*.zip
.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix

# Contents
content/13. Career/
content/20. Sidejob/
content/21. Life Style/
content/30. Work/

# .obsidian
content/.obsidian/plugins/remotely-save
